In [56]:
import pandas as pd
import numpy as np

DatasetUTS_Gasal2425_csv = pd.read_csv(r'C:\Users\TUF\Downloads\MLUTS\MLUTS\DatasetUTS_Gasal2425.csv')

df_DatasetUTS_Gasal2425 = pd.DataFrame(data = DatasetUTS_Gasal2425_csv, index = None)
df_DatasetUTS_Gasal2425

,squaremeters,numberofrooms,hasyard,haspool,floors,citycode,citypartrange,numprevowners,made,isnewbuilt,hasstormprotector,basement,attic,garage,hasstorageroom,hasguestroom,price,category
0,75523,3,no,yes,63,9373,3,8,2005,old,yes,4313,9005,956,no,7,7559081.5,Luxury
1,55712,58,no,yes,19,34457,6,8,2021,old,no,2937,8852,135,yes,9,5574642.1,Middle
2,86929,100,yes,no,11,98155,3,4,2003,new,no,6326,4748,654,no,10,8696869.3,Luxury
3,51522,3,no,no,61,9047,8,3,2012,new,yes,632,5792,807,yes,5,5154055.2,Middle
4,96470,74,yes,no,21,92029,4,2,2011,new,yes,5414,1172,716,yes,9,9652258.1,Luxury
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,341,83,no,no,8,1960,4,4,1993,new,yes,2366,4016,229,yes,5,35371.3,Basic
9996,21514,5,no,yes,11,91373,1,1,1999,old,no,2584,5266,787,no,3,2153602.9,Basic
9997,1726,89,no,yes,5,73133,7,6,2009,old,yes,9311,1698,218,no,4,176425.9,Basic
9998,44403,29,yes,yes,12,34606,9,4,1990,old,yes,9061,1742,230,no,0,4448474.0,Basic
9999,1440,84,no,no,49,18412,6,10,1994,new,no,8485,2024,278,yes,6,146708.4,Basic

In [47]:
print("data null\n", df_DatasetUTS_Gasal2425.isnull().sum())
print("\n")
print("data kosong \n", df_DatasetUTS_Gasal2425.empty)
print("\n")
print("data nan \n", df_DatasetUTS_Gasal2425.isna().sum())

data null
 squaremeters         0
numberofrooms        0
hasyard              0
haspool              0
floors               0
citycode             0
citypartrange        0
numprevowners        0
made                 0
isnewbuilt           0
hasstormprotector    0
basement             0
attic                0
garage               0
hasstorageroom       0
hasguestroom         0
price                0
category             0
dtype: int64


data kosong
 False


data nan
 squaremeters         0
numberofrooms        0
hasyard              0
haspool              0
floors               0
citycode             0
citypartrange        0
numprevowners        0
made                 0
isnewbuilt           0
hasstormprotector    0
basement             0
attic                0
garage               0
hasstorageroom       0
hasguestroom         0
price                0
category             0
dtype: int64

In [48]:
df_DatasetUTS_Gasal2425.describe()

,squaremeters,numberofrooms,floors,citycode,citypartrange,numprevowners,made,basement,attic,garage,hasguestroom,price
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.00000,10000.00000,10000.00000,1.000000e+04
mean,49870.13120,50.358400,50.276300,50225.486100,5.510100,5.521700,2005.48850,5033.103900,5028.01060,553.12120,4.99460,4.993448e+06
std,28774.37535,28.816696,28.889171,29006.675799,2.872024,2.856667,9.30809,2876.729545,2894.33221,262.05017,3.17641,2.877424e+06
min,89.00000,1.000000,1.000000,3.000000,1.000000,1.000000,1990.00000,0.000000,1.00000,100.00000,0.00000,1.031350e+04
25%,25098.50000,25.000000,25.000000,24693.750000,3.000000,3.000000,1997.00000,2559.750000,2512.00000,327.75000,2.00000,2.516402e+06
50%,50105.50000,50.000000,50.000000,50693.000000,5.000000,5.000000,2005.50000,5092.500000,5045.00000,554.00000,5.00000,5.016180e+06
75%,74609.75000,75.000000,76.000000,75683.250000,8.000000,8.000000,2014.00000,7511.250000,7540.50000,777.25000,8.00000,7.469092e+06
max,99999.00000,100.000000,100.000000,99953.000000,10.000000,10.000000,2021.00000,10000.000000,10000.00000,1000.00000,10.00000,1.000677e+07

In [49]:
import pandas as pd

df = pd.read_csv('C:\\Users\\TUF\\Downloads\\MLUTS\\MLUTS\\DatasetUTS_Gasal2425.csv')

df

,squaremeters,numberofrooms,hasyard,haspool,floors,citycode,citypartrange,numprevowners,made,isnewbuilt,hasstormprotector,basement,attic,garage,hasstorageroom,hasguestroom,price,category
0,75523,3,no,yes,63,9373,3,8,2005,old,yes,4313,9005,956,no,7,7559081.5,Luxury
1,55712,58,no,yes,19,34457,6,8,2021,old,no,2937,8852,135,yes,9,5574642.1,Middle
2,86929,100,yes,no,11,98155,3,4,2003,new,no,6326,4748,654,no,10,8696869.3,Luxury
3,51522,3,no,no,61,9047,8,3,2012,new,yes,632,5792,807,yes,5,5154055.2,Middle
4,96470,74,yes,no,21,92029,4,2,2011,new,yes,5414,1172,716,yes,9,9652258.1,Luxury
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,341,83,no,no,8,1960,4,4,1993,new,yes,2366,4016,229,yes,5,35371.3,Basic
9996,21514,5,no,yes,11,91373,1,1,1999,old,no,2584,5266,787,no,3,2153602.9,Basic
9997,1726,89,no,yes,5,73133,7,6,2009,old,yes,9311,1698,218,no,4,176425.9,Basic
9998,44403,29,yes,yes,12,34606,9,4,1990,old,yes,9061,1742,230,no,0,4448474.0,Basic
9999,1440,84,no,no,49,18412,6,10,1994,new,no,8485,2024,278,yes,6,146708.4,Basic

In [50]:
print(df_DatasetUTS_Gasal2425.head())

   squaremeters  numberofrooms hasyard haspool  floors  citycode  \
0         75523              3      no     yes      63      9373
1         55712             58      no     yes      19     34457
2         86929            100     yes      no      11     98155
3         51522              3      no      no      61      9047
4         96470             74     yes      no      21     92029

   citypartrange  numprevowners  made isnewbuilt hasstormprotector  basement  \
0              3              8  2005        old               yes      4313
1              6              8  2021        old                no      2937
2              3              4  2003        new                no      6326
3              8              3  2012        new               yes       632
4              4              2  2011        new               yes      5414

   attic  garage hasstorageroom  hasguestroom      price category
0   9005     956             no             7  7559081.5   Luxury
1   8852     135            yes             9  5574642.1   Middle
2   4748     654             no            10  8696869.3   Luxury
3   5792     807            yes             5  5154055.2   Middle
4   1172     716            yes             9  9652258.1   Luxury

In [51]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

file_path = r'C:\Users\TUF\Downloads\MLUTS\MLUTS\DatasetUTS_Gasal2425.csv'
df_DatasetUTS_Gasal2425 = pd.read_csv(file_path)

categorical_columns = ['hasyard', 'haspool', 'isnewbuilt', 'hasstormprotector', 'hasstorageroom', 'category']

le = LabelEncoder()

for col in categorical_columns:
    if col in df_DatasetUTS_Gasal2425.columns:
        df_DatasetUTS_Gasal2425[col] = le.fit_transform(df_DatasetUTS_Gasal2425[col])
    else:
        print(f"Kolom {col} tidak ditemukan dalam DataFrame.")

print(df_DatasetUTS_Gasal2425)

      squaremeters  numberofrooms  hasyard  haspool  floors  citycode  \
0            75523              3        0        1      63      9373
1            55712             58        0        1      19     34457
2            86929            100        1        0      11     98155
3            51522              3        0        0      61      9047
4            96470             74        1        0      21     92029
...            ...            ...      ...      ...     ...       ...
9995           341             83        0        0       8      1960
9996         21514              5        0        1      11     91373
9997          1726             89        0        1       5     73133
9998         44403             29        1        1      12     34606
9999          1440             84        0        0      49     18412

      citypartrange  numprevowners  made  isnewbuilt  hasstormprotector  \
0                 3              8  2005           1                  1
1                 6              8  2021           1                  0
2                 3              4  2003           0                  0
3                 8              3  2012           0                  1
4                 4              2  2011           0                  1
...             ...            ...   ...         ...                ...
9995              4              4  1993           0                  1
9996              1              1  1999           1                  0
9997              7              6  2009           1                  1
9998              9              4  1990           1                  1
9999              6             10  1994           0                  0

      basement  attic  garage  hasstorageroom  hasguestroom      price  \
0         4313   9005     956               0             7  7559081.5
1         2937   8852     135               1             9  5574642.1
2         6326   4748     654               0            10  8696869.3
3          632   5792     807               1             5  5154055.2
4         5414   1172     716               1             9  9652258.1
...        ...    ...     ...             ...           ...        ...
9995      2366   4016     229               1             5    35371.3
9996      2584   5266     787               0             3  2153602.9
9997      9311   1698     218               0             4   176425.9
9998      9061   1742     230               0             0  4448474.0
9999      8485   2024     278               1             6   146708.4

      category
0            1
1            2
2            1
3            2
4            1
...        ...
9995         0
9996         0
9997         0
9998         0
9999         0

[10000 rows x 18 columns]

In [52]:
print(df_DatasetUTS_Gasal2425.head())

   squaremeters  numberofrooms  hasyard  haspool  floors  citycode  \
0         75523              3        0        1      63      9373
1         55712             58        0        1      19     34457
2         86929            100        1        0      11     98155
3         51522              3        0        0      61      9047
4         96470             74        1        0      21     92029

   citypartrange  numprevowners  made  isnewbuilt  hasstormprotector  \
0              3              8  2005           1                  1
1              6              8  2021           1                  0
2              3              4  2003           0                  0
3              8              3  2012           0                  1
4              4              2  2011           0                  1

   basement  attic  garage  hasstorageroom  hasguestroom      price  category
0      4313   9005     956               0             7  7559081.5         1
1      2937   8852     135               1             9  5574642.1         2
2      6326   4748     654               0            10  8696869.3         1
3       632   5792     807               1             5  5154055.2         2
4      5414   1172     716               1             9  9652258.1         1

In [53]:
from sklearn.model_selection import train_test_split

X = df_DatasetUTS_Gasal2425.drop(columns=['price'], axis=1)
y = df_DatasetUTS_Gasal2425['category']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=94)

print("bentuk X_train", X_train.shape)
print("bentuk X_test", X_test.shape)
print("bentuk y_train", y_train.shape)
print("bentuk y_test", y_test.shape)
print("y_train \n", y_train)
print("y_test \n",y_test)

bentuk X_train (7500, 17)
bentuk X_test (2500, 17)
bentuk y_train (7500,)
bentuk y_test (2500,)
y_train
 8494    0
5661    0
4117    2
929     1
4628    2
       ..
6806    0
1347    2
1381    2
6336    0
6482    0
Name: category, Length: 7500, dtype: int32
y_test
 7497    0
5188    1
5009    1
9434    0
2444    1
       ..
2434    1
3521    1
1955    1
2954    1
703     1
Name: category, Length: 2500, dtype: int32

In [57]:
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

GBC = GradientBoostingClassifier(random_state=94)
SVM = SVC(C=1, gamma=0.01, random_state=94)

GBC.fit(X_train, y_train)
SVM.fit(X_train, y_train)

SVC(C=1, gamma=0.01, random_state=94)

In [58]:
import numpy as np
import pandas as pd
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split

data = load_iris()
X, y = data.data, data.target
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=94)

SVM = SVC()
SVM.fit(X_train, y_train)

GBC = GradientBoostingClassifier()
GBC.fit(X_train, y_train)

X_new = np.array([[3, 197, 30, 19, 0, 44.8, 0.567, 55]])

# Hapus pembuatan DataFrame dengan nama fitur
X_new_df = pd.DataFrame(X_new)

print("X_new yang akan diprediksi", X_new_df.shape)

n_features_svm = SVM.n_features_in_
n_features_gbc = GBC.n_features_in_

print(f"Number of features in SVM: {n_features_svm}")
print(f"Number of features in GBC: {n_features_gbc}")

if X_new_df.shape[1] < n_features_svm:
    missing_features_svm = n_features_svm - X_new_df.shape[1]
    X_new_svm = pd.concat([X_new_df, pd.DataFrame(np.zeros((X_new_df.shape[0], missing_features_svm)), columns=[f'feature{len(X_new_df.columns) + i + 1}' for i in range(missing_features_svm)])], axis=1)
    print(f"Menyesuaikan input untuk SVM dengan menambahkan {missing_features_svm} fitur.")
else:
    X_new_svm = X_new_df.iloc[:, :n_features_svm] 

if X_new_df.shape[1] < n_features_gbc:
    missing_features_gbc = n_features_gbc - X_new_df.shape[1]
    X_new_gbc = pd.concat([X_new_df, pd.DataFrame(np.zeros((X_new_df.shape[0], missing_features_gbc)), columns=[f'feature{len(X_new_df.columns) + i + 1}' for i in range(missing_features_gbc)])], axis=1)
    print(f"Menyesuaikan input untuk Gradient Boosting Classifier dengan menambahkan {missing_features_gbc} fitur.")
else:
    X_new_gbc = X_new_df.iloc[:, :n_features_gbc] 

svm_predict = SVM.predict(X_new_svm)
print("Label Prediksi SVM", svm_predict)

gbc_predict = GBC.predict(X_new_gbc)
print("Label Prediksi GBC", gbc_predict)

X_new yang akan diprediksi (1, 8)
Number of features in SVM: 4
Number of features in GBC: 4
Label Prediksi SVM [2]
Label Prediksi GBC [2]

In [59]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest, SelectPercentile, f_classif
from sklearn.metrics import classification_report, roc_auc_score

# Load dataset
data = load_iris()
X, y = data.data, data.target

# Split dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=94)

# Standardize data
scaler_standard = StandardScaler()
X_train_standard = scaler_standard.fit_transform(X_train)
X_test_standard = scaler_standard.transform(X_test)

# Feature selection using SelectKBest
kbest = SelectKBest(score_func=f_classif, k=min(10, X_train_standard.shape[1]))  # Ensure k does not exceed number of features
X_train_kbest = kbest.fit_transform(X_train_standard, y_train)
X_test_kbest = kbest.transform(X_test_standard)

# Feature selection using SelectPercentile
percentile = SelectPercentile(score_func=f_classif, percentile=50)
X_train_percentile = percentile.fit_transform(X_train_standard, y_train)
X_test_percentile = percentile.transform(X_test_standard)

# Grid search for Gradient Boosting Classifier
param_grid_gbc = {
    'n_estimators': [100, 200],
    'learning_rate': [0.01, 0.1, 1],
    'max_depth': [3, 5, 7]
}
gbc_grid = GridSearchCV(GradientBoostingClassifier(random_state=94), param_grid_gbc, cv=5)
gbc_grid.fit(X_train_kbest, y_train)

# Grid search for Support Vector Machine
param_grid_svm = {
    'C': [0.01, 0.1, 1, 10],
    'kernel': ['linear', 'rbf', 'poly'],
    'gamma': ['scale', 'auto']
}
svm_grid = GridSearchCV(SVC(probability=True, random_state=94), param_grid_svm, cv=5)
svm_grid.fit(X_train_kbest, y_train)

# Predictions
gbc_pred = gbc_grid.predict(X_test_kbest)
svm_pred = svm_grid.predict(X_test_kbest)

# Display classification reports
print("Gradient Boosting Classifier Report:")
print(classification_report(y_test, gbc_pred))
print("Support Vector Machine Report:")
print(classification_report(y_test, svm_pred))

# Calculate AUC
gbc_auc = roc_auc_score(y_test, gbc_grid.predict_proba(X_test_kbest), multi_class='ovr')
svm_auc = roc_auc_score(y_test, svm_grid.predict_proba(X_test_kbest), multi_class='ovr')

print("Gradient Boosting Classifier AUC:", gbc_auc)
print("Support Vector Machine AUC:", svm_auc)

Gradient Boosting Classifier Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        10
           1       1.00      0.92      0.96        12
           2       0.89      1.00      0.94         8

    accuracy                           0.97        30
   macro avg       0.96      0.97      0.97        30
weighted avg       0.97      0.97      0.97        30

Support Vector Machine Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        10
           1       1.00      0.92      0.96        12
           2       0.89      1.00      0.94         8

    accuracy                           0.97        30
   macro avg       0.96      0.97      0.97        30
weighted avg       0.97      0.97      0.97        30

Gradient Boosting Classifier AUC: 0.9965628507295173
Support Vector Machine AUC: 0.9931257014590348

In [60]:
import numpy as np
import pandas as pd

# Define your input array (replace these values with your actual features)
X_new = np.array([[3, 197, 30, 19, 0, 44.8, 0.567, 55, 0, 0, 0, 0, 0, 0, 0, 0, 0]])  # Example input with fewer than 17 features

# Ensure X_new has 17 features
expected_features = 17
current_shape = X_new.shape[1]

if current_shape < expected_features:
    # Add zeros to match the expected number of features
    X_new = np.hstack([X_new, np.zeros((X_new.shape[0], expected_features - current_shape))])
    print(f"Menyesuaikan input dengan menambahkan {expected_features - current_shape} fitur.")
elif current_shape > expected_features:
    # Truncate to match the expected number of features
    X_new = X_new[:, :expected_features]
    print(f"Truncating input to keep only the first {expected_features} features.")

print("X_new yang akan diprediksi", X_new.shape)

# Get the expected number of features from the models
n_features_svm = SVM.n_features_in_
n_features_gbc = GBC.n_features_in_

print(f"Expected number of features for SVM: {n_features_svm}")
print(f"Expected number of features for GBC: {n_features_gbc}")

# Adjust input for SVM
X_new_svm = X_new[:, :n_features_svm]  # Assuming this is correct based on training features

# Adjust input for Gradient Boosting Classifier
X_new_gbc = X_new[:, :n_features_gbc]  # Assuming this is correct based on training features

# Make predictions
svm_predict = SVM.predict(X_new_svm)
print("Label Prediksi SVM:", svm_predict)

gbc_predict = GBC.predict(X_new_gbc)
print("Label Prediksi GBC:", gbc_predict)

X_new yang akan diprediksi (1, 17)
Expected number of features for SVM: 4
Expected number of features for GBC: 4
Label Prediksi SVM: [2]
Label Prediksi GBC: [2]

In [67]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split, GridSearchCV, StratifiedKFold
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest, f_classif
from sklearn.metrics import classification_report, confusion_matrix, ConfusionMatrixDisplay



# Define your feature names here
feature_names = ['feature1', 'feature2', 'feature3', 'feature4']  # Replace with your actual feature names

# Assuming X and y are defined elsewhere in your code
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=94)

# Define k based on the number of features available
k = min(10, X_train.shape[1])  # Ensure k does not exceed the number of features

pipeline_gbc = Pipeline([
    ('scaler', StandardScaler()),
    ('feature_selection', SelectKBest(score_func=f_classif, k=k)),  
    ('classifier', GradientBoostingClassifier(random_state=94)) 
])

pipeline_svm = Pipeline([
    ('scaler', StandardScaler()), 
    ('feature_selection', SelectKBest(score_func=f_classif, k=k)),  
    ('classifier', SVC(probability=True, random_state=94))  # Added probability=True for AUC calculation
])

param_grid_gbc = {
    'classifier__n_estimators': [100, 200],
    'classifier__max_depth': [3, 5],
    'classifier__learning_rate': [0.01, 0.1]
}

param_grid_svm = {
    'classifier__C': [0.01, 0.1, 1, 10],
    'classifier__kernel': ['linear', 'rbf'],
    'classifier__gamma': ['scale', 'auto']
}

skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=94)

grid_search_gbc = GridSearchCV(pipeline_gbc, param_grid_gbc, cv=skf, scoring='accuracy')
grid_search_gbc.fit(X_train, y_train)

grid_search_svm = GridSearchCV(pipeline_svm, param_grid_svm, cv=skf, scoring='accuracy')
grid_search_svm.fit(X_train, y_train)

gbc_pred = grid_search_gbc.predict(X_test)
print("Gradient Boosting Classifier Classification Report:")
print(classification_report(y_test, gbc_pred))

conf_matrix_gbc = confusion_matrix(y_test, gbc_pred)
ConfusionMatrixDisplay(confusion_matrix=conf_matrix_gbc).plot(cmap='Blues')
plt.title('Confusion Matrix - Gradient Boosting Classifier')
plt.savefig('confusion_matrix_gbc.png')

svm_pred = grid_search_svm.predict(X_test)
print("Support Vector Machine Classification Report:")
print(classification_report(y_test, svm_pred))

conf_matrix_svm = confusion_matrix(y_test, svm_pred)
ConfusionMatrixDisplay(confusion_matrix=conf_matrix_svm).plot(cmap='Blues')
plt.title('Confusion Matrix - Support Vector Machine')
plt.savefig('confusion_matrix_svm.png')

# Get relevant features for Gradient Boosting Classifier
feature_mask_gbc = grid_search_gbc.best_estimator_.named_steps['feature_selection'].get_support()
relevant_features_gbc = np.array(feature_names)[feature_mask_gbc]
print("Fitur Relevan yang Dipilih oleh Gradient Boosting Classifier:", relevant_features_gbc)

# Get relevant features for Support Vector Machine
feature_mask_svm = grid_search_svm.best_estimator_.named_steps['feature_selection'].get_support()
relevant_features_svm = np.array(feature_names)[feature_mask_svm]
print("Fitur Relevan yang Dipilih oleh Support Vector Machine:", relevant_features_svm)

Gradient Boosting Classifier Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        10
           1       1.00      0.92      0.96        12
           2       0.89      1.00      0.94         8

    accuracy                           0.97        30
   macro avg       0.96      0.97      0.97        30
weighted avg       0.97      0.97      0.97        30

Support Vector Machine Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        10
           1       1.00      0.92      0.96        12
           2       0.89      1.00      0.94         8

    accuracy                           0.97        30
   macro avg       0.96      0.97      0.97        30
weighted avg       0.97      0.97      0.97        30

Fitur Relevan yang Dipilih oleh Gradient Boosting Classifier: ['feature1' 'feature2' 'feature3' 'feature4']
Fitur Relevan yang Dipilih oleh Support Vector Machine: ['feature1' 'feature2' 'feature3' 'feature4']

In [68]:
# Assuming you have already performed grid search and predictions for GBC and SVM
gbc_best_accuracy = grid_search_gbc.best_score_
gbc_best_f1 = classification_report(y_test, gbc_pred, output_dict=True)['weighted avg']['f1-score']
gbc_best_precision = classification_report(y_test, gbc_pred, output_dict=True)['weighted avg']['precision']
gbc_best_recall = classification_report(y_test, gbc_pred, output_dict=True)['weighted avg']['recall']
gbc_best_n_features = np.sum(feature_mask_gbc)

print("Gradient Boosting Classifier Best Metrics:")
print(f"Accuracy: {gbc_best_accuracy:.4f}")
print(f"Precision: {gbc_best_precision:.4f}")
print(f"Recall: {gbc_best_recall:.4f}")
print(f"F1 Score: {gbc_best_f1:.4f}")
print(f"Number of Features: {gbc_best_n_features}")

svm_best_accuracy = grid_search_svm.best_score_
svm_best_f1 = classification_report(y_test, svm_pred, output_dict=True)['weighted avg']['f1-score']
svm_best_precision = classification_report(y_test, svm_pred, output_dict=True)['weighted avg']['precision']
svm_best_recall = classification_report(y_test, svm_pred, output_dict=True)['weighted avg']['recall']
svm_best_n_features = np.sum(feature_mask_svm)

print("\nSupport Vector Machine Best Metrics:")
print(f"Accuracy: {svm_best_accuracy:.4f}")
print(f"Precision: {svm_best_precision:.4f}")
print(f"Recall: {svm_best_recall:.4f}")
print(f"F1 Score: {svm_best_f1:.4f}")
print(f"Number of Features: {svm_best_n_features}")

if gbc_best_f1 > svm_best_f1:
    best_model = "Gradient Boosting Classifier"
    best_metrics = {
        "Accuracy": gbc_best_accuracy,
        "Precision": gbc_best_precision,
        "Recall": gbc_best_recall,
        "F1 Score": gbc_best_f1,
        "Number of Features": gbc_best_n_features
    }
else:
    best_model = "Support Vector Machine"
    best_metrics = {
        "Accuracy": svm_best_accuracy,
        "Precision": svm_best_precision,
        "Recall": svm_best_recall,
        "F1 Score": svm_best_f1,
        "Number of Features": svm_best_n_features
    }

print(f"\nModel Terbaik: {best_model}")
print("Metrik Terbaik:")
for metric, value in best_metrics.items():
    print(f"{metric}: {value:.4f}")

Gradient Boosting Classifier Best Metrics:
Accuracy: 0.9500
Precision: 0.9704
Recall: 0.9667
F1 Score: 0.9669
Number of Features: 4

Support Vector Machine Best Metrics:
Accuracy: 0.9667
Precision: 0.9704
Recall: 0.9667
F1 Score: 0.9669
Number of Features: 4

Model Terbaik: Support Vector Machine
Metrik Terbaik:
Accuracy: 0.9667
Precision: 0.9704
Recall: 0.9667
F1 Score: 0.9669
Number of Features: 4.0000

In [70]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.metrics import classification_report
import joblib

# Load dataset
df_DatasetUTS_Gasal2425 = pd.read_csv('DatasetUTS_Gasal2425.csv')

# Inisialisasi LabelEncoder
label_encoder = LabelEncoder()

# Mengubah kolom 'category' menjadi numerik
df_DatasetUTS_Gasal2425['category'] = label_encoder.fit_transform(df_DatasetUTS_Gasal2425['category'])

# Simpan kelas dari kolom 'category' untuk digunakan di laporan klasifikasi
category_classes = label_encoder.classes_

# Pastikan semua kolom kategorikal lain diubah menjadi numerik
for col in df_DatasetUTS_Gasal2425.columns:
    if df_DatasetUTS_Gasal2425[col].dtype == 'object':
        df_DatasetUTS_Gasal2425[col] = label_encoder.fit_transform(df_DatasetUTS_Gasal2425[col])

# Memastikan tidak ada nilai NaN dalam dataset
df_DatasetUTS_Gasal2425 = df_DatasetUTS_Gasal2425.fillna(0)

# Memisahkan fitur dan target
X = df_DatasetUTS_Gasal2425.drop(['category', 'price'], axis=1)
y = df_DatasetUTS_Gasal2425['category']

# Membagi dataset menjadi training dan testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=94)

# Melatih model Gradient Boosting Classifier
gbc = GradientBoostingClassifier(random_state=94)
gbc.fit(X_train, y_train)

# Melakukan prediksi pada data testing dengan GBC
gbc_pred = gbc.predict(X_test)

# Menampilkan laporan klasifikasi untuk GBC
print("Gradient Boosting Classifier Best Metrics:")
print(classification_report(y_test, gbc_pred, target_names=category_classes))

# Melatih model Support Vector Machine
svm = SVC(random_state=94)
svm.fit(X_train, y_train)

# Melakukan prediksi pada data testing dengan SVM
svm_pred = svm.predict(X_test)

# Menampilkan laporan klasifikasi untuk SVM
print("\nSupport Vector Machine Best Metrics:")
print(classification_report(y_test, svm_pred, target_names=category_classes))

# Menyimpan model yang terbaik
if classification_report(y_test, gbc_pred, output_dict=True)['weighted avg']['f1-score'] > classification_report(y_test, svm_pred, output_dict=True)['weighted avg']['f1-score']:
    best_model = gbc
    best_model_name = "Gradient Boosting Classifier"
else:
    best_model = svm
    best_model_name = "Support Vector Machine"

joblib.dump(best_model, f'BestModel_GBC_SVM_Transformers.pkl')
print(f"\nModel Terbaik: BestModel_GBC_SVM_Transformers.pkl")

Gradient Boosting Classifier Best Metrics:
              precision    recall  f1-score   support

       Basic       1.00      1.00      1.00       867
      Luxury       1.00      1.00      1.00       602
      Middle       1.00      1.00      1.00       531

    accuracy                           1.00      2000
   macro avg       1.00      1.00      1.00      2000
weighted avg       1.00      1.00      1.00      2000


Support Vector Machine Best Metrics:
              precision    recall  f1-score   support

       Basic       0.86      0.97      0.91       867
      Luxury       1.00      1.00      1.00       602
      Middle       0.94      0.73      0.82       531

    accuracy                           0.92      2000
   macro avg       0.93      0.90      0.91      2000
weighted avg       0.92      0.92      0.91      2000


Model Terbaik: BestModel_GBC_SVM_Transformers.pkl